/* ==========================================================================
   Middleman Default on GitLab Pages - Custom Styles by @virtuacreative
   ========================================================================== */

h1 {
	a {
		color: white;
		text-decoration: none;
		&:hover {
			color: rgba(0, 0, 0, 0.5);
			transition: all 0.25s linear;
		}
	}
}

.gitlab_logo {
	max-height: 260px;
	padding-top: 40px;
	padding-bottom: 25px;
	
	@media (max-width: 420px) {
		max-height: 220px;
		padding-top: 20px;
	}
}

.logo img {
	@media (max-width: 420px) {
	    margin-top: 3em !important;
	}
}
/* ==========================================================================
   -- End Custom Styles -- 
   ========================================================================== */